DEBUG=True

# Database credentials, connecting to DB from the application
DB_HOST=db
DB_NAME=db_name
DB_USER=db_user
DB_PASS=db_pass

# Database credentials, creating DB in PostgreSQL
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_pass

# Database connection url in format: postgres://user:pass@host:port/db_name
DATABASE_URL=postgres://db_user:db_pass@db/db_name

SECRET_KEY=my_secret
