{% load i18n static %}<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Книги+</title>

    <link rel="stylesheet" type="text/css" href="{% static '/css/library/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/library/select2.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/booklist.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/booklist.select.css' %}"/>
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Книги+</a>
    </nav>
</header>

<main role="main">
    <section class="jumbotron p-4 text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Каталог книг</h1>
            <p class="lead text-muted">{{ form.description }}</p>
            <div class="row">
                <div class="col-md-12">
                    {% block form %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
    {% block content %}
    {% endblock %}
</main>

<footer class="text-muted">
    <div class="container text-center">
        <p class="pt-3">&copy; <a href="tg://resolve?domain=@MichaelNV">Michael Votinov</a> {% now 'Y' %}</p>
    </div>
</footer>
<script src="{% static "/js/library/jquery-3.5.0.min.js" %}"></script>
<script src="{% static "/js/library/bootstrap.min.js" %}"></script>
{% block extrajs %}
    <script src="{% static "/js/library/select2.min.js" %}"></script>
    <script src="{% static "/js/library/select2.ru.js" %}"></script>
    <script src="{% static "/js/booklist.select.js" %}"></script>
{% endblock %}
</body>
</html>
